body{
  background-color: black;
  width: 90%;
  height: 100%;
}

.cutout-container {
  position: relative;
  overflow: hidden;
}

.masked-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  mask-image: url("./hc-1-1-mask.svg");
  mask-size: 500px;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: 500px;
  -webkit-mask-image: url("./hc-1-1-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

@keyframes spread {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px); /* move slightly to right */
  }
}

#rect1,
#rect1-8,
#rect1-1,
#rect1-2,
#rect1-23,
#rect1-85,
#rect1-9,
#rect1-4,
#rect1-3 {
  animation: spread 2s infinite ease-in-out alternate;
}



