.cutout-container {
  position: relative;
  overflow: hidden;
}

.masked-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  mask-image: url("./hc-1-1-mask.svg");
  mask-size: 500px;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: 500px;
  -webkit-mask-image: url("./hc-1-1-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

